@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: auto;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background: none;
    color: inherit;
    font: "Roboto Condensed";
    color: #444444;
    padding: 0;
    margin: 0;
    cursor: pointer;
    appearance: none;
    outline: none;
    text-decoration: none;

}

footer {
    font-family: "Roboto Condensed";
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonContainer {
    margin-top: 70px;
    align-items: center;
}

#jokeContainer {
    height: 200px;
    width: auto;
    text-align: center;
    font-family: "Roboto Condensed", 'Times New Roman', Times, serif;
    font-weight: 300;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#jokeContainer {
    opacity: 0; 
    transition: opacity 1s ease-in-out;
}

.footerP {
    opacity: 0.1;
    transition: opacity 0.3s ease;
}

.footerP:hover {
    opacity: 1;
}

#getJoke {
    font-size: 1.2em; /* Increase font size */
    padding: 10px 20px; /* Add padding to increase button size */
    border-radius: 8px; /* Add border radius for rounded corners */
    transition: transform 0.2s ease;
}

#getJoke:hover {
    transform: scale(1.03);
}